
@{
    ViewData["Title"] = "Obrigado";
}

<div class="container-fluid " style="display: flex;	justify-content: center; flex-direction: column;	height: 600px">
    <div class="row text-center">
        <div class="col-sm-12 text-center">
            <h1>Obrigado pelo seu contato, retornaremos em breve sua mensagem! </h1>
        </div>
    </div>
</div>


