
    <link href="~/main.css" rel="stylesheet" />
<div class="container-fluid navegacao p-2 text-right">
    <a asp-controller="Home" asp-action="index">Início</a> |
    <a asp-controller="Servico" asp-action="index">Serviço</a> |
    <a asp-controller="Contato" asp-action="index">Contato</a> |
    <a asp-controller="Relatorio" asp-action="index">Relatório de Gastos com Combustível</a>
</div>
