<div class="container-fluid navegacao p-3 text-right">
    <a asp-controller="Home" asp-action="index">Início</a> |
    <a asp-controller="Servico" asp-action="index">Serviço</a> |
    <a asp-controller="Contato" asp-action="index">Contato</a>
</div>
