<link href="~/main.css" rel="stylesheet" />
<div class="container-fluid conteudo p-3" >
    <h2>Serviços</h2>
    <hr />
    <div class="row">
        <div class="col-xl-4 text-center">            
            <img src="~/img/PimLogo.png" />
            <h3>Gerenciamento de Frotas</h3>
        </div>
        <div class="col-xl-4 text-center">
            <img src="~/img/controlFinance.png" />
            <h3>Controle Financeiro</h3>
        </div>
        <div class="col-xl-4 text-center">
            <img src="~/img/oficina.png" />
            <h3>Oficina Mecânica Completa</h3>
        </div>

    </div>
</div>




